body {
    color: #40515e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    font-family: "Montserrat", sans-serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
    color: #66bfbf;
}

.mountain {
    margin-top: 115px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999e;
    padding-left: 30px;
}

a {
    color: #11999e;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;
}

p {
    line-height: 2;
}

hr {
    width: 5%;
    border-style: none;
    border-top: 7px dotted;
    color: #eaf6f6;
    margin: 100px auto;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-text {
    width: 40%;
    margin: 40px auto 50px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.java-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.mysql-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-1 {
    position: relative;
    bottom: 40px;
}

.top-container {
    background-color: #ddf3f5;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    top: 100px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profile-pic {
    padding-top: 30px;
}

.middle-container {
    margin: 100px auto;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 30px 0 30px;
}

.footer-link {
    padding: 30px;
}

.copyright-text {
    color: #eaf6f6;
    padding: 20px 0;
    font-size: 0.75rem;
}

.myButton {
    margin: 50px;
    box-shadow: inset 0 -3px 7px 0 #66bfbf;
    background-color: #66bfbf;
    border-radius: 6px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 15px;
    padding: 9px 23px;
    text-decoration: none;
}
.myButton:hover {
    background-color: #66bfa0;
}
.myButton:active {
    position: relative;
    top: 1px;
}

table {
    font-family: arial, sans-serif;
    width: 30%;
    margin: auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.form {
    width: 15%;
    margin: auto;
}

textarea {
    margin: 30px 0;
}
